/* navbar */
.services-expander:hover .services-expand {
	display: block;
}

body {
	background-color: black;
}

.about-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.about-grid > .div1 {
	grid-area: 1 / 1 / 4 / 3;
}
.about-grid > .div2 {
	grid-area: 1 / 3 / 2 / 4;
}
.about-grid > .div3 {
	grid-area: 1 / 4 / 2 / 5;
}
.about-grid > .div4 {
	grid-area: 1 / 5 / 2 / 6;
}
.about-grid > .div5 {
	grid-area: 2 / 3 / 4 / 6;
}

.navbarbg {
	background: rgba(0, 0, 0, 0.651);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(14px);
	-webkit-backdrop-filter: blur(14px);
}

.active {
	color: orange;
}
